.dashboard {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.list-film {
    padding: 3% 30%;
}

.li-films {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.button-create-film{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2%;
}