.dashboard {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.list-film {
    padding: 3% 30%;
}

.button-create-film{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2%;
}